body {
    background-image: url("img/library.jpg");
    background-size: cover;
}

.book-card {
    background: white;
    width: 320px;
}

#addBookForm {
    height: 50px;
    width: 1000px;
}

input {
    font-size: 20px;
}

button {
    height: 30px;
    width: 150px;
}
